@import "tailwindcss";

a {
    color: red;
    background-color: rgb(29, 27, 27);
}

@theme {
    --color-mehedi: #00B207;
    --text-hf: 32px;
    --color-gry: #F2F2F2; 
    --font-poppins: font-family: "Poppins", sans-serif; 
}