@import "tailwindcss";

@font-face {
  font-family: 'poppins';
  src: url('./assets/font/Poppins-Regular.ttf') format('ttf');
   
  font-weight: normal;
  font-style: normal;
}

@theme {
    --color-primary: #00B207;
    --text-hf: 32px;
    --color-gry: #F2F2F2; 
    --font-poppins: font-family: "Poppins", sans-serif; 
}



.custom-prev {
 
    background: rgb(255, 254, 254);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: 5;
    transform: translatex(-50%);
    cursor: pointer;
    
}
.custom-next {
    background: rgb(250, 250, 250);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
     position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translatex(-50%);
    cursor: pointer;
}

.swiper-navigation-icon{
  
}

.swiper-button-disabled {
  background-color: darkgray;
  cursor:not-allowed;
}

.swiper-pagination   {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}


.swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0 40px;
  cursor: pointer;

}

.swiper-pagination-bullet-active {
  background-color: rgb(52, 56, 240); 
  
}




/* ! ScroolBar */

.swiper-scrollbar {
   position: absolute;
  bottom: 25px;
  z-index: 30;
   width: 100%;
    height: 10px;
    background: rgb(255, 255, 255);
}

.swiper-scrollbar-drag {
    transition-duration: 0ms;
    transform: translate3d(15px, 0px, 0px);
    width: 5px;
    height: 10px;
    background: rgb(0, 0, 0);
}




/* ! checkBox k Css korar niyom */
/* 
.mylabel {
  position: relative;
}

.mylabel:after {
  width: 70px;
  height: 25px;
  border-radius: 20px;
  background: black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transition:all linear 0.4s;
}


.mylabel:before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(247, 4, 4);
  content: "";
  position: absolute;
  top: 5px;
 left: 5px;
  z-index: 2;
   transition:all linear 0.4s;
}

.myInput {
  display: none;
}

.myInput:checked + .mylabel:after {
  background: green;
}

.myInput:checked + .mylabel:before {
   left: 48px;
} */
/* 
.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  margin: 0 !important;
  width: 40px !important;
  height: 40px !important;
  background: #fff;
  border-radius: 50%;
  
  top: -100px!important;
  left: 50px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
}

.swiper-button-prev {
  left: auto !important;
  right: 60px !important;
  top: 25px !important;
}

.swiper-button-next {
  right: 0 !important;
  top: 25px !important;
}
 */

/* .swiper-button-prev{
    background: rgb(255, 254, 254);
    width: 20px !important;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: 10% !important;
    left: 900px !important;
    z-index: 500 !important;
    transform: translateY(-50%);
    cursor: pointer;
} */
