@import "tailwindcss";

@font-face {
  font-family: 'poppins';
  src: url('./assets/font/Poppins-Regular.ttf') format('ttf');
   
  font-weight: normal;
  font-style: normal;
}

@theme {
    --color-primary: #00B207;
    --text-hf: 32px;
    --color-gry: #F2F2F2; 
    --font-poppins: font-family: "Poppins", sans-serif; 
}